@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-button {
    display: flex;
    align-items: left;
    padding-left: 10px;
    background-color:rgb(194, 242, 237);
    margin-right: 500px;
    color: white;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    transition: background-color 0.9s;
    
  }
  
  .custom-button:hover {
    background-color:peachpuff;
  }
  
html, body {
  width: 100%;
  height: 100%;
}

body {
    background: url("bg-4.jpg");
  font-family: 'Krub', sans-serif;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.name{
   
    animation:fadeInMove 2s ease-in;
}
.card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: peachpuff;
  overflow: hidden;
}
.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  background-color:peachpuff;
  font-size: 20px;
  border-radius: 4px;
  padding: 8px 12px;

  cursor: pointer;
  color: #000000;
}

.custom-file-input input {
  display: none;
}

.custom-file-label:hover {
  background-color: #e0e0e0;
}


.ds-info {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    animation-fill-mode: forwards;
    
  }
  
  .ds-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-left: 5rem;
    
    animation: fadeInMove 2s;
    animation-fill-mode: forwards;
    
    
  }
  
  
  
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }
 
.card .ds-top {
  position: absolute;
  margin: auto;
  
  top: 0;
  right: 0;
  left: 0;
  width: 500px;
  height: 80px;
  background: rgb(20, 163, 220);
  animation: dsTop 1.5s;
}

.avatar-holder {
  position: absolute;
  
  top: 50px;
  left: 550px; 
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000,
              inset 0 0 0 5px #000000;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
}


.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}