#video-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1; /* Send the video to the background */
      opacity: 90%;
    }
    
    #video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    body{
      background-image: url(bg-5.jpg);
      background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Krub', sans-serif;

    }
   
.button-group {
  display: flex;
}

.button {
  padding: 5px 20px;
  background-color:#06BBCC;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}
.button:hover {
  background-color: #0670cc;
}



table {
  /* Add any desired table styling here */
  border-collapse: separate;
  border-spacing: 10px;
  align-items: center;
  position: relative;
  z-index: 1; 


}


td {
  text-align: center;
  
}

th {
  padding: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
}
@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
